.htaccess
.vscode/
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
plugins/
uploads/
upgrade/
wp-content/themes/twentytwentytwo/
wp-content/themes/goya/*
# stop ignoring parent files that are getting updated
!wp-content/themes/goya/functions.php
wp-content/themes/goya-child/assets/*
!wp-content/themes/goya-child/assets/css
fonts/
# from host
FETCH_HEAD
HEAD
config
description
favicon.gif
favicon.ico
hooks/
info/
debug.log
.well-known/
wp-content/maintenance.php
wp-content/maintenance/
_delete
